{% extends 'base.html'%}

{% block content %}
    <h1>bem-vindo ao the game!</h1>
    <h3>seu site favorito de jogos!</h3>
    <hr>
    <a href="/"><< voltar</a>
    <p>game mais jogado do brasil</p>
<ul>
    <li>titulo: <strong>{{titulo}}</strong> </li>
     <li>ano: <strong>{{ano}}</strong></li>
      <li>categoria: <strong>{{categoria}}</strong></li>
      <li> o jogo {{titulo}} tem {{2026 - ano}} anos</li>
      </ul>
      <h4> top players ranking</h4>
      <ol>
        {%for jogador in jogadores%}
        <li> {{jogador}}</li>
              {% endfor %}
      </ol>
{% endblock content %}
