{% extends 'base.html'%}
{% block content%}
<h2> controle de estoque</h2>
<br>
<details>
    <summary>[ cadastrar novo jogo ]</summary>
    <div class="col-md-4">
    <form action="{{url_for('estoque')}}" method="POST">
        <input type="text" name="titulo" placeholder="titulo"
        class="form-control" required>
         <input type="number" name="ano" placeholder="ano"
        class="form-control" required>
         <input type="text" name="categoria" placeholder="categoria"
        class="form-control" required>
         <input type="text" name="plataforma" placeholder="plataforma"
        class="form-control" required>
         <input type="number" name="preco" placeholder="preco"
        class="form-control" required>
         <input type="number" name="quantidade" placeholder="quantidade"
        class="form-control" required>

        <input type="submit" value="cadastrar" class="btn-btn-sucess">
        <input type="reset" value="limpar" class="btn-btn-danger">
     </form>
    </div>
</details>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>titulo</th>
            <th>ano</th>
            <th>categoria</th>
            <th>plataforma</th>
            <th>preco</th>
            <th>quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games%}
        <tr>
            <td>{{game.titulo}}</td>
             <td>{{game.ano}}</td>
              <td>{{game.categoria}}</td>
               <td>{{game.plataforma}}</td>
                <td>{{game.preco}}</td>
                 <td>{{game.quantidade}}</td>

        </tr>
    </tbody>
</table>