{% extends 'base.html' %}
{% block content %}

<h2> cadastro de jogos</h2>
<hr>
<form action="{{url_for('cadgames')}}" method="POST">
<label>titulo</label>
<input type="text" name="titulo" placeholder="insira o titulo do jogo" required class="form-control">

<form action="" method="POST">
<label>ano</label>
<input type="text" name="ano" placeholder="insira o ano do jogo" required  class="form-control">

<form action="" method="POST">
<label>categoria</label>
<input type="text" name="categoria" placeholder="insira a categoria do jogo" required  class="form-control">

<form action="" method="POST">
<label>plataforma</label>
<input type="text" name="plataforma" placeholder="insira a plataforma jogo" required  class="form-control">

<input type="submit" value="cadastrar"  class="btn btn-success">
<input type="submit" value="limpar" class="btn btn-danger">
</form>
<br>
<br>
<table class="table table-bordered tabloe-hover">
    <thead class="table-darl">
    <tr>
        <th>titulo</th>
        <th>ano</th>
        <th>categoria</th>
        <th>plataforma</th>
    </tr>
    </thead>
    <tbody>
      {% for game in listaGames %}
      <tr>
        <td>{{game.titulo}}</td>
        <td>{{game.ano}}</td>
        <td>{{game.categoria}}</td>
        <td>{{game.plataforma}}</td>
      </tr>
    </tbody>
</table>





{% endblock content%}